<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Vadim on 10.07.22, 00:57
  ~ Copyright (c) 2022 . All rights reserved.
  ~ Last modified 10.07.22, 00:56
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

</manifest>